<% include header %>

<h3>SFO Wind speed</h3>
<div id="data"></div>
<button>Reload</button>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/the.js"></script>

<% include footer %>
